* {
  font-family: "Raleway", sans-serif;
}

.App {
  text-align: center;
  width: 75%;
  margin: 2rem auto;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin-top: 5rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.div-class {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
}

.ul-class {
  font-size: 1.25rem;
  padding-left: 0rem;
  list-style: none;
}

.li-class {
  padding: 0.5rem;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  font-size: 1rem;
  padding-left: 1rem;
  align-items: center;
}

.completed-class {
  border-top: 0;
  border-right: 0;
  border-left: 5px solid green;
}

.incompleted-class {
  border-top: 0;
  border-right: 0;
  border-left: 5px solid red;
}

.input-field-class {
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.25rem;
  flex: 1;
  min-height: 35px;
  padding-left: 1rem;
}

.input-field-class-search {
  font-size: 1rem;
  margin-left: 0.5rem;
  padding: 0.25rem;
  flex: 1;
  min-height: 35px;
  padding-left: 1rem;
}

.input-field-divs {
  padding: 0.25rem 0.5rem;
  display: flex;
}

.select-tag-class {
  font-size: 14px;
  min-width: 80px;
  margin-right: 1rem;
  /* border: 0; */
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 4rem;
  background: transparent;
  outline: none;
  min-height: 35px;
  height: 35px;
}

.submit-btn-class {
  margin-left: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  min-width: 130px;
  background: #03a9f4;
  color: white;
  border: 0;
  font-weight: bold;
  min-height: 35px;
  height: 35px;
}

.form-class {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 2px grey;
}

.delete-toggle-button-class {
  margin-left: 1rem;
  font-size: 0.75rem;
  border-radius: 5px;
  min-width: 100px;
  background: #03a9f4;
  color: white;
  border: 0;
  font-weight: bold;
  min-height: 35px;
}

.deadline-class {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid gray;
  padding-bottom: 0.25rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.span-class {
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 0.25rem;
}

.todoList-div-class {
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 2px 2px 2px grey;
}

.search-form-class {
  margin-top: 0.25rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.header-class {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 2px lightgrey;
  display: flex;
  justify-content: flex-start;
}